<div class="flex flex-col gap-4">
  <h1 class="text-xl font-semibold">Create an account</h1>
  <div>
    <p class="text-base font-medium mb-2">Username</p>
    <input type="text" placeholder="john.doe" class="w-full bg-gray-100 rounded-lg px-2 outline-none border-none focus:ring h-12 ring-indigo-600" />
  </div>
  <div>
    <p class="text-base font-medium mb-2">Email address</p>
    <input type="email" placeholder="john.doe@example.com" class="w-full bg-gray-100 rounded-lg px-2 outline-none border-none focus:ring h-12 ring-indigo-600" />
  </div>
  
  <div>
    <p class="text-base font-medium mb-2">Password</p>
    <input type="password" placeholder="********" class="w-full bg-gray-100 rounded-lg px-2 outline-none border-none focus:ring h-12 ring-indigo-600" />
  </div>
  <div class="w-full">
    <button (click)="handleSignup()" class="text-white cursor-pointer text-sm bg-indigo-600 px-6 py-2 rounded-lg font-bold hover:ring-2 ring-indigo-600 ring-offset-2 uppercase w-full flex text-center items-center justify-center h-12">
      Contiue
    </button>
  </div>
  </div>