<app-header></app-header>

<mat-drawer-container class="bg-white xl:container mx-auto h-screen" hasBackdrop="false">
  <mat-drawer #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="w-1/4">
<app-categories></app-categories>
</mat-drawer>
  <mat-drawer-content class="h-full lg:w-3/4 xl:w-1/2 mx-auto">
    <router-outlet></router-outlet>
   
  </mat-drawer-content>
  <mat-drawer #drawer2 [mode]="(isHandsetRight$ | async) ? 'over' : 'side'" [opened]="!(isHandsetRight$ | async)" position="end" class="w-1/4 h-full">
    <app-common-space></app-common-space>
    </mat-drawer>
</mat-drawer-container>

