@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


.spacer {
  flex: 1 auto;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
}

*:focus {
  outline: none !important;
}